* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
}

/* preloader */

div#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
}

/* preloader end */

.main-container {
	max-width: 1370px;
	margin: 0 auto;
}

/* main sticky header */

.top-sticky-header {
	z-index: 100;
	width: 100%;
	position: sticky !important;
	top: 0px;
	/* box-shadow: 0px 0px 5px 0.1px; */
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
	/* border: 1px solid; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	/* height: 100px; */
	background-color: rgb(255, 255, 255);
}

.top-sticky-header li {
	/* border: 1px solid; */
	list-style: none;
	display: inline-flex;
}

.top-sticky-header nav ul {
	padding: 0;
}

.top-sticky-header nav ul li a {
	color: hsl(0, 0%, 28%) !important;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	/* font-family: 'Lato', Arial, Helvetica, sans-serif; */
	font-family: 'Source Sans Pro', sans-serif;
	/* font-family: 'Work Sans', sans-serif; */
	/* font-family: "Open Sans"; */
	font-weight: 500;
}

.top-sticky-header nav ul li a:hover {
	/* color: hsla(130, 100%, 37%, 0.74) !important; */
	color: rgb(2, 192, 255) !important;
}

.top-sticky-header nav ul li a:focus {
	/* color: hsl(147, 100%, 29%) !important; */
	color: rgb(0, 130, 173) !important;
}

/* main sticky header end */

/* form submit alert-box */

.submit-box-alert {
	display: none;
	background-color: rgba(177, 255, 161, 0.932);
	border-bottom: 1px solid rgb(52, 233, 52);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	/* box-shadow: 0px 0px 3px 0.1px green; */
}

/* end of from submit alert-box */

/* footer section */

.footer-container {
	background-color: rgb(42, 42, 42);
	border: 1px solid rgb(42, 42, 42);
	/* height: 500px; */
	/* border: 5px solid green; */
}

.map-container {
	text-align: center;
}

.google-map {
	/*border: 2px solid pink;
	*/
	/*width: 100%;
	*/
	max-width: 100%;
	height: auto;
	margin-top: 5%;
	margin-bottom: 3%;
	cursor: pointer;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.google-map:hover {
	/*border: 5px solid white;
	*/
	box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
	/*padding: 0.1px;
	*/
	cursor: pointer;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.info-container {
	/* border: 1px solid white; */
	max-width: 87%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-info-container, .quick-link-container, .therapie-container {
	/* border: 1px solid white; */
	flex: 1;
	flex-wrap: wrap;
	font-family: 'Source Sans Pro', sans-serif;
}

.info-heading {
	color: hsl(0, 0%, 100%);
	font-size: 20px;
	font-weight: 700;
	line-height: 27.2728px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(64, 64, 64);
}

.copyright-container {
	/* border: 1px solid white; */
	max-width: 87%;
	margin: 0 auto;
	margin-top: 65px;
	margin-bottom: 35px;
}

.copyright {
	color: hsl(300, 0%, 45%);
	font-size: 14px;
	line-height: 21px;
	text-align: left;
	margin: 0;
}

.contact-link, .quick-links, .therapy-link {
	/* border: 1px solid white; */
	margin: 9px 0;
}

.quick-hyper-links {
	color: rgb(255, 255, 255);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.contact-info-link, .therapy-hyper-link {
	color: rgb(191, 191, 191);
	text-decoration: none;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.contact-info-link:hover, .quick-hyper-links:hover, .therapy-hyper-link:hover {
	/* color: rgba(177, 255, 161, 0.932); */
	/* color: rgba(0, 191, 255, 0.788); */
	color: rgb(0, 130, 221);
	text-decoration: none;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.social-link {
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.social-link:hover {
	color: rgb(255, 255, 255) !important;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

/* go top icon */

.go-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 24px;
	display: none;
}

.go-top-svg {
	background-color: rgba(233, 233, 233, 0.877);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.go-top-svg:hover {
	background-color: rgba(179, 179, 179, 0.767);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

/* end of go top icon */

/* footer section end */

/* TODO: PC media query */

@media screen and (min-width: 883px) {
	/* preloader */
	div#preloader img {
		width: 400px;
		height: 48%;
	}
	/* preloader end */
	/* main sticky header */
	.top-sticky-header {
		height: 70px;
		/* max-height: 100%; */
		padding: 0 75px;
	}
	.top-sticky-header nav ul {
		height: 100%;
		display: flex;
		align-items: center;
	}
	.top-sticky-header li {
		margin: 0 20px;
	}
	.fa-align-right, .fa-times-rectangle {
		display: none !important;
	}
	/* main sticky header end*/
	/* side social links fixed */
	.socialLinks-container {
		z-index: 50;
		/* border: 1px solid rgba(43, 39, 39, 0.349); */
		padding: 5px 0px 5px 0;
		position: fixed;
		min-width: 35px;
		top: 35%;
		right: 0;
		/* background-color: #fff; */
	}
	.phone, .whatsapp, .facebook, .youtube {
		/* border: 2px solid; */
		width: 25px;
		display: block;
		margin: 12px 0;
		cursor: pointer;
		transition: 0.3s;
	}
	.whatsapp {
		width: 28px;
	}
	.whatsapp:hover {
		width: 35px;
	}
	.phone:hover, .facebook:hover, .youtube:hover {
		width: 32px;
		transition: 0.3s;
	}
	/* side social links end */
	.submit-box-alert {
		/* border: 2px solid black; */
		left: 0 !important;
		right: 0 !important;
		height: 11%;
	}
	.alert-inner-text {
		/* border: 2px solid; */
		/* height: 100%; */
		margin-top: 10px;
		text-align: center;
	}
	/* footer section */
	.google-map {
		/* border: 5px solid blue; */
		max-width: 92%;
	}
	.contact-info-container, .quick-link-container {
		padding-right: 50px;
	}
	/* End of footer section */
}

/* TODO:  mobile media query */

@media screen and (max-width: 882px) {
	/* preloader */
	div#preloader img {
		width: 350px;
		height: 47%;
	}
	/* preloader  */
	/* main sticky header */
	.top-sticky-header {
		height: 70px;
		padding: 0 20px;
		background-color: rgb(255, 255, 255);
	}
	.headerLogo {
		width: 93px !important;
		height: 50px;
		/* border: 1px solid; */
	}
	.top-sticky-header nav {
		/* border: 1px solid black; */
		box-shadow: 0px 0px 3px 0.2px;
		/* display: none; */
		position: fixed;
		left: -150px;
		transition: 0.8s;
		/* background-color: rgba(156, 245, 168, 0.959); */
		/* background-color: hsl(104, 46%, 62%) !important; */
		background-color: hsla(197, 99%, 45%, 0.94) !important;
		top: 0;
		bottom: -200px;
		width: 150px;
	}
	.top-sticky-header nav ul li {
		display: block;
		margin: 20px;
		text-align: center;
	}
	.top-sticky-header nav ul li a {
		font-size: 13px;
		color: hsl(0, 0%, 100%) !important;
		/* color: hsl(133, 100%, 13%) !important; */
		font-weight: 500 !important;
	}
	.top-sticky-header nav ul li a:hover {
		/* color: hsl(108, 100%, 18%) !important; */
		color: rgb(0, 70, 94) !important;
		font-weight: 600 !important;
	}
	.fa-bars, .fa-times-rectangle {
		font-size: 23px;
		cursor: pointer;
		/* transition: 5s; */
	}
	.fa-align-right {
		position: fixed;
		top: 0px;
		z-index: 200;
		display: block;
		right: 20px;
		top: 22.5px;
		/* color: rgba(107, 167, 29, 0.678); */
		color: hsla(197, 99%, 45%, 0.94) !important;
		display: block !important;
		font-size: 24px;
		cursor: pointer;
	}
	.fa-align-right:hover {
		/* color: rgba(13, 122, 3, 0.877); */
		color: rgb(0, 115, 153) !important;
	}
	.fa-times-rectangle {
		z-index: 200;
		/* color: rgba(107, 167, 29, 0.678); */
		color: hsla(197, 99%, 45%, 0.94) !important;
		position: fixed;
		right: 20px;
		top: 22.5px;
		display: none;
		font-size: 26px;
	}
	.fa-times-rectangle:hover {
		/* color: rgba(13, 122, 3, 0.877); */
		color: rgb(0, 115, 153) !important;
	}
	/* main sticky header end*/
	/* side social links fixed */
	.socialLinks-container {
		padding: 5px 0px 5px 0;
		width: 25px;
		position: fixed;
		top: 200px;
		right: 0;
		/* background-color: #fff; */
	}
	.phone, .whatsapp, .facebook, .youtube {
		/* border: 2px solid; */
		margin: 15px 0px 0px -1px;
		cursor: pointer;
		width: 20px;
	}
	.whatsapp {
		width: 30px;
		padding-right: 6px;
	}
	/* side social links end */
	/* submit box alert styling */
	.submit-box-alert {
		/* border: 2px solid black; */
		left: 0 !important;
		right: 0 !important;
	}
	.alert-inner-text {
		text-align: justify;
	}
	/* end of submit box alert */
	/* footer section */
	.google-map {
		/* border: 5px solid blue; */
		max-width: 92%;
	}
	.info-container {
		flex-direction: column;
	}
	.contact-info-container, .quick-link-container, .therapie-container {
		margin-top: 10px;
	}
	/* end of footer section */
}