/* Font Family */

@import url('https://rsms.me/inter/inter.css');
/* @import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap'); */

/* @import url('https://fonts.googleapis.com/css?family=Cookie&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
.home-center-heading {
    line-height: 60px !important;
}

.swipe-heading-container {
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Cookie', cursive; */
    font-family: 'Lora', serif;
    /* letter-spacing: 3px; */
}

.text-justify {
    text-align: justify;
}

.links-font-family, .para-font-family {
    font-family: "Inter var", system-ui, sans-serif;
}

/* REVIEW: Default Styling */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.main-container {
    max-width: 1570px;
    margin: 0 auto;
}

/* REVIEW: Top Sticky Header */

.top-sticky-header nav ul li a {
    font-size: 10.3px !important;
    letter-spacing: 0.7px;
}

.top-sticky-header {
    z-index: 100;
    width: 100%;
    position: sticky !important;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(255, 255, 255);
}

.top-sticky-header li {
    /* border: 1px solid; */
    list-style: none;
    display: inline-flex;
    margin: 0 20px !important;
}

.top-sticky-header nav ul {
    padding: 0;
}

.top-sticky-header nav ul li a {
    color: hsl(0, 0%, 28%) !important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11.2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 11.5px !important;
    font-weight: bold;
}

.top-sticky-header nav ul li a:hover {
    color: rgb(116, 188, 212) !important;
}

.top-sticky-header nav ul li a:focus {
    color: rgb(60, 91, 135) !important;
    font-weight: 600;
}

/* REVIEW: Submit Alert Box */

.submit-box-alert {
    display: none;
    background-color: rgba(177, 255, 161, 0.932);
    border-bottom: 1px solid rgb(52, 233, 52);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* REVIEW: Home Section */

.swiper-container {
    margin-bottom: 50px;
}

/* REVIEW: About Us Section */

.about-section {
    margin-bottom: 50px !important;
}

.about-contact-link {
    border: 1px solid rgb(0, 104, 255);
    padding: 10px 20px;
    background-color: #fff;
    font-weight: bold;
    border-radius: 3.5px;
    -webkit-border-radius: 3.5px;
    -moz-border-radius: 3.5px;
    -ms-border-radius: 3.5px;
    -o-border-radius: 3.5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.about-counselling {
    background-color: rgb(241, 249, 251);
    /* padding: 50px 100px; */
}

.about-counselling-container {
    margin: 0 auto;
    display: flex;
}

.counselling-right-content {
    background-color: #fff;
    padding: 5% 10%;
}

.about-contact-link:hover {
    text-decoration: none;
    background-color: rgb(0, 104, 255);
    color: white;
}

.about-counselling-icon {
    background-image: -webkit-linear-gradient(top, #00C5AA 0%, #3C69CD 100%);
    background-image: -o-linear-gradient(top, #00C5AA 0%, #3C69CD 100%);
    background-image: linear-gradient(to bottom, #00C5AA 0%, #3C69CD 100%);
    height: 100%;
}

.about-goal-mission {
    display: flex;
    max-width: 91%;
    margin: 0 auto;
}

.goal-container, .mission-container, .vision-container {
    flex: 1;
    padding: 50px 0 0 0;
}

.goal-content, .mission-content {
    padding: 0 40px 0 10px;
}

.vision-content {
    padding: 0 0px 0 10px;
}

/* REVIEW: Footer Section */

.footer-container {
    background-color: rgb(42, 42, 42);
    border: 1px solid rgb(42, 42, 42);
}

.map-container {
    text-align: center;
}

.google-map {
    max-width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 3%;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.google-map:hover {
    box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.info-container {
    max-width: 87%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-info-container, .quick-link-container, .therapie-container {
    flex: 1;
    flex-wrap: wrap;
    font-family: 'Source Sans Pro', sans-serif;
}

.info-heading {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 700;
    line-height: 27.2728px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(64, 64, 64);
}

.copyright-container {
    max-width: 87%;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 35px;
}

.copyright {
    color: hsl(300, 0%, 45%);
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    margin: 0;
}

.contact-link, .quick-links, .therapy-link {
    margin: 9px 0;
}

.quick-hyper-links {
    color: rgb(255, 255, 255);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.contact-info-link, .therapy-hyper-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.contact-info-link:hover, .quick-hyper-links:hover, .therapy-hyper-link:hover {
    color: rgb(0, 130, 221);
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.social-link {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.social-link:hover {
    color: rgb(255, 255, 255) !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

/* REVIEW:  Go Top Icon */

.go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    display: none;
}

.go-top-svg {
    background-color: rgba(233, 233, 233, 0.877);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.go-top-svg:hover {
    background-color: rgba(179, 179, 179, 0.767);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

/* REVIEW: Service Section */

.service-counselling-icon {
    border: 1px solid;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.973);
    background-image: linear-gradient(to bottom, rgba(11, 138, 119, 0.788) 0%, rgba(4, 45, 133, 0.753) 100%);
    padding: 5% 0;
    margin-bottom: 4%;
}

.service-card>h5 {
    line-height: 27.9287px;
    text-align: center;
    font-size: 23px;
    font-weight: 900;
}

.service-card {
    box-shadow: 0px 0px 2px 0.1px rgb(150, 168, 189);
}

/* REVIEW: Program Section */

.program-card-heading {
    color: rgba(0, 66, 97, 0.863);
}

.program-card-heading-info {
    color: rgb(0, 66, 97);
    font-size: 16.5px;
}

.program-top-border {
    /* border-top: 2.5px solid #007DB8; */
    border-top: 2px solid rgba(110, 110, 110, 0.253);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.program-bottom-border {
    /* border-bottom: 2.4px ridge rgba(0, 84, 122, 0.438); */
    border-bottom: 3px ridge rgba(0, 83, 122, 0.815);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.program-para-color {
    font-size: 15px;
    color: rgb(99, 99, 99);
}

.our-program-link-container {
    margin: 0 auto;
    width: 80%;
    /* border: 1px solid; */
    text-align: center;
}

.our-program-link-container li {
    list-style-type: none;
    margin: 10px 15px;
    display: inline-block;
}

/* .our-program-link-container li .first:link {
    background-color: lightblue;
    color: white;
    border: 1px solid blue;
} */

.our-program-link-container li a {
    border: 1px solid #007EB7 !important;
    text-align: center;
    cursor: pointer;
    /* border: 1px solid; */
    text-decoration: none;
    padding: 5px 20px;
    margin: 0;
}

.program-pdf-download-link {
    display: block;
    border: 1px solid #427FBA;
    padding: 3px;
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 10px;
}

.program-pdf-download-link:hover {
    text-decoration: none;
    background-color: #007DB8;
    color: white;
}

/* REVIEW: Program Container Section */

.program-heading {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    line-height: 38.66px;
    margin-top: 50px;
    padding-bottom: 30px;
}

.program-card-styling {
    /* box-shadow: 0px 0px 2px 0.1px rgb(187, 182, 182); */
    box-shadow: 0px 0px 2px 0.1px rgba(0, 43, 71, 0.61);
    padding: 15px;
    /* border: 1px solid; */
    width: 25%;
    height: auto;
    display: inline-block;
    margin: 0 20px;
}

.program-box-hr {
    width: 120px;
    margin: 16px auto;
    padding: 0.7px;
    background-color: rgba(209, 202, 202, 0.144);
    box-shadow: 0px 1px 1px 0px rgba(224, 221, 221, 0.658);
}

/* media query for programs */

@media screen and (max-width: 1000px) {
    .our-program-link-container {
        flex-direction: column;
    }
}

/* Counsellers section */

.counsellers-container {
    width: 100%;
    margin: 0 auto;
}

.counsellers_in_kanpur, .counsellers_in_allahabad, .counsellers_in_delhi, .counsellers_in_lukhnow, .counsellers_in_lakhimpur, .counsellers_in_gorakhpur, .counsellers_in_jaunpur {
    text-align: center;
}

.counseller-city-list {
    /* box-shadow: 0px 0px 3px 0.5px rgb(236, 245, 247); */
    background-color: rgb(255, 255, 255);
    width: auto;
    margin: 0 auto;
    display: inline-block;
    font-weight: 600;
    padding: 0 25px;
    cursor: pointer;
    margin-left: 5px;
}

.counseller-city-list:hover {
    border: 1px solid rgba(48, 47, 47, 0.295);
    box-shadow: 0px 0px 3.7px 1.5px rgba(221, 224, 224, 0.623);
}

.counseller-city-list:active {
    /* background-color: rgb(255, 255, 255); */
    border: 1px solid rgba(43, 43, 43, 0.438);
}

.select-city {
    font-size: 15px;
    color: gray;
}

.checked {
    color: orange;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 295px; */
    max-width: 305px;
    margin: 20px 1%;
    /* margin: auto; */
    text-align: center;
    font-family: arial;
    display: inline-block;
}

.card img {
    border-radius: 50%;
    width: 100px;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.title {
    color: grey;
    /* font-size: 18px; */
}

.card .button {
    position: relative;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: #007298;
}

.card button:hover, .card a:hover {
    opacity: 0.7;
}

/* Testimonial section */

.testimonial-container h2 {
    margin-bottom: 50px;
}

.testimonial-container {
    padding-bottom: 50px;
}

.testimonial-box {
    /* border: 2px solid #ccc; */
    /* background-color: #eee; */
    border: 2px solid rgb(233, 231, 231);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}

.testimonial-box::after {
    content: "";
    clear: both;
    display: table;
}

.testimonial-box img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.testimonial-box span {
    font-size: 20px;
    margin-right: 15px;
}

.testimonial-container {
    width: 91%;
    margin: 0 auto;
}

/* REVIEW: Team Section */

.team-container {
    margin-top: 60px !important;
    margin-bottom: 120px !important;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.team-member {
    max-width: 22%;
}

.team-img1 {
    width: 104px;
}

.team-img2 {
    width: 110px;
}

.team-img3 {
    width: 140px;
}

.team-img4 {
    width: 120px;
}

.team-member-name {
    font-size: 19px;
    margin-top: 5px;
    font-weight: bold;
}

.team-member-position {
    font-weight: 600;
    font-size: 15px;
    color: #007298;
}

.team-minimal-text {
    color: rgb(99, 95, 95);
    font-size: 15px;
    word-spacing: 0.5px;
}

/* Contact Section */

.form-container {
    margin-top: 50px;
    width: 50%;
}

.firstName {
    width: 49%;
}

.lastName {
    width: 50%;
}

/* Gallery Section */

.galleria {
    position: relative !important;
    width: 93%;
    height: 87vh;
    margin: 0 auto;
    box-shadow: 0px 0px 2px 4px rgba(0, 127, 245, 0.308);
}

/* WhatsApp Share */

/* .whatsapp {
    display: none;
    color: #1DC143;
}

.whatsapp:hover, .whatsapp:focus {
    background: #1DC143;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.whatsapp.activeWhatsapp {
    display: inline-block;
} */

/* Event Program Notification Styling */

body::-webkit-scrollbar {
    width: 0.3em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.event-program-content::-webkit-scrollbar {
    width: 0.3em;
}

.event-program-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.event-program-content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.event-program-content {
    background-color: #fff;
    border: 1px ridge;
    width: 290px;
    height: 310px;
    position: fixed;
    right: 0px;
    top: 137px;
    overflow-y: scroll;
    display: none;
}

.evnet-program {
    border-bottom: 1px ridge;
    padding: 10px;
}

.evnet-program:last-child {
    margin-bottom: 10px;
}

.evnet-program:hover {
    box-shadow: 0px 2px 7px 0.2px rgba(209, 209, 209, 0.664);
}

@media screen and (min-width: 601px) {
    .event-number {
        position: relative;
        top: -30px;
        right: 20px;
        /* transform: rotate(0deg); */
        /*background-color: rgb(255, 30, 0);
        */
        background-color: rgb(238, 238, 238);
        padding: 2.5px 3.5px;
        font-size: 10.5px;
        color: black;
        font-weight: bold;
        border: 1.2px ridge rgba(212, 212, 212, 0.993);
        border-radius: 1.5px;
        -webkit-border-radius: 1.5px;
        -moz-border-radius: 1.5px;
        -ms-border-radius: 1.5px;
        -o-border-radius: 1.5px;
    }
    .event-box {
        color: black;
        background-color: rgba(95, 167, 240, 0.829);
        transform: rotate(-90deg);
        padding: 3px 5px;
        height: auto;
        border: 1px ridge;
        letter-spacing: 0.5px;
        border-radius: 1.5px;
        -webkit-border-radius: 1.5px;
        -moz-border-radius: 1.5px;
        -ms-border-radius: 1.5px;
        -o-border-radius: 1.5px;
    }
    .event-main-box:hover {
        opacity: 1;
    }
}

.event-main-box {
    position: fixed;
    height: auto;
    width: auto;
    right: 0;
    cursor: pointer;
    opacity: 0.9;
}

.event-container {
    position: fixed;
    height: 100px;
    top: 150px;
    z-index: 200000000000;
}

/* For little Screen */

/* Read More & Read Less */

.read-more-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .8s ease;
    -webkit-transition: max-height .8s ease;
    -moz-transition: max-height .8s ease;
    -ms-transition: max-height .8s ease;
    -o-transition: max-height .8s ease;
}

.read-more-toggle {
    display: none;
}

.read-more-toggle-label {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    border: none;
    padding: 5px;
    /* margin: .5em; */
    font-size: .8em;
    background: #555;
    color: white;
}

.read-more-toggle-label:after {
    content: "More";
    display: inline-block;
}

.read-more-toggle:checked+.read-more-content {
    display: block;
    /* css animation won't work with "auto"; set to some height larger
      than the content */
    max-height: 1000px;
}

.read-more-toggle:checked+.read-more-content+.read-more-toggle-label:after {
    content: "Less";
}

@media screen and (max-width: 600px) {
    .event-number {
        top: -32px;
        right: 13px;
        position: relative;
        transform: rotate(0deg);
        /*background-color: rgb(238, 238, 238);
        */
        /* background-color: rgba(255, 204, 204, 0.993); */
        background-color: rgba(241, 241, 241, 0.993);
        padding: 2.5px 3.5px;
        font-size: 8px;
        color: black;
        border: 0.5px ridge rgba(175, 175, 175, 0.993);
        font-weight: bold;
        border-radius: 1.5px;
        -webkit-border-radius: 1.5px;
        -moz-border-radius: 1.5px;
        -ms-border-radius: 1.5px;
        -o-border-radius: 1.5px;
    }
    .event-box {
        background-color: rgba(95, 167, 240, 0.829);
        color: black;
        top: 150px !important;
        transform: rotate(-90deg);
        padding: 3px 5px;
        height: auto;
        letter-spacing: 0.5px;
        font-size: 13.5px;
        border-radius: 1.5px;
        -webkit-border-radius: 1.5px;
        -moz-border-radius: 1.5px;
        -ms-border-radius: 1.5px;
        -o-border-radius: 1.5px;
    }
    /* .event-program-content {
        top: 15px;
    } */
}

/* Event Program Notification Styling End */

@media (max-width: 500px) {
    .testimonial-box {
        text-align: center;
    }
    .testimonial-box img {
        margin: auto;
        float: none;
        display: block;
    }
}

/* media quries for bigger width laptops */

@media (min-width: 1500px) {
    .top-sticky-header nav ul li a {
        font-size: 12px;
        font-weight: bold;
    }
    .swiper-container {
        height: 650px !important;
    }
}