* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
}

/* preloader */

div#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
}

/* preloader end */

.main-container {
	max-width: 1370px;
	margin: 0 auto;
}

/* main sticky header */

.top-sticky-header {
	z-index: 100;
	width: 100%;
	position: sticky !important;
	top: 0px;
	/* box-shadow: 0px 0px 5px 0.1px; */
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
	/* border: 1px solid; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	/* height: 100px; */
	background-color: rgb(255, 255, 255);
}

.top-sticky-header li {
	/* border: 1px solid; */
	list-style: none;
	display: inline-flex;
}

.top-sticky-header nav ul {
	padding: 0;
}

.top-sticky-header nav ul li a {
	color: hsl(0, 0%, 28%) !important;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	/* font-family: 'Lato', Arial, Helvetica, sans-serif; */
	font-family: 'Source Sans Pro', sans-serif;
	/* font-family: 'Work Sans', sans-serif; */
	/* font-family: "Open Sans"; */
	font-weight: 500;
}

.top-sticky-header nav ul li a:hover {
	/* color: hsla(130, 100%, 37%, 0.74) !important; */
	color: rgb(116, 188, 212) !important;
	/* color: rgb(9, 169, 223) !important; */
}

.top-sticky-header nav ul li a:focus {
	/* color: hsl(147, 100%, 29%) !important; */
	/* color: rgb(15, 113, 146) !important; */
	color: rgb(60, 91, 135) !important;
	font-weight: 600;
}

/* main sticky header end */

/* form submit alert-box */

.submit-box-alert {
	display: none;
	background-color: rgba(177, 255, 161, 0.932);
	border-bottom: 1px solid rgb(52, 233, 52);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	/* box-shadow: 0px 0px 3px 0.1px green; */
}

/* end of from submit alert-box */

/* footer section */

.footer-container {
	background-color: rgb(42, 42, 42);
	border: 1px solid rgb(42, 42, 42);
	/* height: 500px; */
	/* border: 5px solid green; */
}

.map-container {
	text-align: center;
}

.google-map {
	/*border: 2px solid pink;
	*/
	/*width: 100%;
	*/
	max-width: 100%;
	height: auto;
	margin-top: 5%;
	margin-bottom: 3%;
	cursor: pointer;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.google-map:hover {
	/*border: 5px solid white;
	*/
	box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
	/*padding: 0.1px;
	*/
	cursor: pointer;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.info-container {
	/* border: 1px solid white; */
	max-width: 87%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.contact-info-container, .quick-link-container, .therapie-container {
	/* border: 1px solid white; */
	flex: 1;
	flex-wrap: wrap;
	font-family: 'Source Sans Pro', sans-serif;
}

.info-heading {
	color: hsl(0, 0%, 100%);
	font-size: 20px;
	font-weight: 700;
	line-height: 27.2728px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(64, 64, 64);
}

.copyright-container {
	/* border: 1px solid white; */
	max-width: 87%;
	margin: 0 auto;
	margin-top: 65px;
	margin-bottom: 35px;
}

.copyright {
	color: hsl(300, 0%, 45%);
	font-size: 14px;
	line-height: 21px;
	text-align: left;
	margin: 0;
}

.contact-link, .quick-links, .therapy-link {
	/* border: 1px solid white; */
	margin: 9px 0;
}

.quick-hyper-links {
	color: rgb(255, 255, 255);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.contact-info-link, .therapy-hyper-link {
	color: rgb(191, 191, 191);
	text-decoration: none;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.contact-info-link:hover, .quick-hyper-links:hover, .therapy-hyper-link:hover {
	/* color: rgba(177, 255, 161, 0.932); */
	/* color: rgba(0, 191, 255, 0.788); */
	color: rgb(0, 130, 221);
	text-decoration: none;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.social-link {
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.social-link:hover {
	color: rgb(255, 255, 255) !important;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

/* go top icon */

.go-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 24px;
	display: none;
}

.go-top-svg {
	background-color: rgba(233, 233, 233, 0.877);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.go-top-svg:hover {
	background-color: rgba(179, 179, 179, 0.767);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

/* end of go top icon */

/* footer section end */