/* REVIEW: Default Styling */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.main-container {
    max-width: 1570px;
    margin: 0 auto;
}

/* REVIEW: Top Sticky Header */

.top-sticky-header {
    z-index: 100;
    width: 100%;
    position: sticky !important;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(255, 255, 255);
}

.top-sticky-header li {
    /* border: 1px solid; */
    list-style: none;
    display: inline-flex;
}

.top-sticky-header nav ul {
    padding: 0;
}

.top-sticky-header nav ul li a {
    color: hsl(0, 0%, 28%) !important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11.2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}

.top-sticky-header nav ul li a:hover {
    color: rgb(116, 188, 212) !important;
}

.top-sticky-header nav ul li a:focus {
    color: rgb(60, 91, 135) !important;
    font-weight: 600;
}

/* REVIEW: Submit Alert Box */

.submit-box-alert {
    display: none;
    background-color: rgba(177, 255, 161, 0.932);
    border-bottom: 1px solid rgb(52, 233, 52);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* REVIEW: Home Section */

.swiper-container {
    margin-bottom: 50px;
}

/* REVIEW: About Us Section */

.about-section {
    margin-bottom: 50px !important;
}

.about-contact-link {
    border: 1px solid rgb(0, 104, 255);
    padding: 10px 20px;
    background-color: #fff;
    font-weight: bold;
    border-radius: 3.5px;
    -webkit-border-radius: 3.5px;
    -moz-border-radius: 3.5px;
    -ms-border-radius: 3.5px;
    -o-border-radius: 3.5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.about-counselling {
    background-color: rgb(241, 249, 251);
    /* padding: 50px 100px; */
}

.about-counselling-container {
    margin: 0 auto;
    display: flex;
}

.counselling-right-content {
    background-color: #fff;
    padding: 5% 10%;
}

.about-contact-link:hover {
    text-decoration: none;
    background-color: rgb(0, 104, 255);
    color: white;
}

.about-counselling-icon {
    background-image: -webkit-linear-gradient(top, #00C5AA 0%, #3C69CD 100%);
    background-image: -o-linear-gradient(top, #00C5AA 0%, #3C69CD 100%);
    background-image: linear-gradient(to bottom, #00C5AA 0%, #3C69CD 100%);
    height: 100%;
}

.about-goal-mission {
    display: flex;
    max-width: 91%;
    margin: 0 auto;
}

.goal-container, .mission-container, .vision-container {
    flex: 1;
    padding: 50px 0 0 0;
}

.goal-content, .mission-content {
    padding: 0 40px 0 10px;
}

.vision-content {
    padding: 0 0px 0 10px;
}

/* REVIEW: Footer Section */

.footer-container {
    background-color: rgb(42, 42, 42);
    border: 1px solid rgb(42, 42, 42);
}

.map-container {
    text-align: center;
}

.google-map {
    max-width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 3%;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.google-map:hover {
    box-shadow: 0px 0px 4px 1px rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.info-container {
    max-width: 87%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-info-container, .quick-link-container, .therapie-container {
    flex: 1;
    flex-wrap: wrap;
    font-family: 'Source Sans Pro', sans-serif;
}

.info-heading {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: 700;
    line-height: 27.2728px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(64, 64, 64);
}

.copyright-container {
    max-width: 87%;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 35px;
}

.copyright {
    color: hsl(300, 0%, 45%);
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    margin: 0;
}

.contact-link, .quick-links, .therapy-link {
    margin: 9px 0;
}

.quick-hyper-links {
    color: rgb(255, 255, 255);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.contact-info-link, .therapy-hyper-link {
    color: rgb(191, 191, 191);
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.contact-info-link:hover, .quick-hyper-links:hover, .therapy-hyper-link:hover {
    color: rgb(0, 130, 221);
    text-decoration: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.social-link {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.social-link:hover {
    color: rgb(255, 255, 255) !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

/* REVIEW:  Go Top Icon */

.go-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    display: none;
}

.go-top-svg {
    background-color: rgba(233, 233, 233, 0.877);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.go-top-svg:hover {
    background-color: rgba(179, 179, 179, 0.767);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

/* REVIEW: Service Section */

.service-counselling-icon {
    border: 1px solid;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.973);
    background-image: linear-gradient(to bottom, rgba(11, 138, 119, 0.788) 0%, rgba(4, 45, 133, 0.753) 100%);
    padding: 5% 0;
    margin-bottom: 4%;
}

.service-card>h5 {
    line-height: 27.9287px;
    text-align: center;
    font-size: 23px;
    font-weight: 900;
}

.service-card {
    box-shadow: 0px 0px 2px 0.1px rgb(150, 168, 189);
}

/* REVIEW: Program Section */

.our-program-link-container {
    margin: 0 auto;
    width: 80%;
    /* border: 1px solid; */
    text-align: center;
}

.our-program-link-container li {
    list-style-type: none;
    margin: 10px 15px;
    display: inline-block;
}

/* .our-program-link-container li .first:link {
    background-color: lightblue;
    color: white;
    border: 1px solid blue;
} */

.our-program-link-container li a {
    border: 1px solid #007EB7 !important;
    text-align: center;
    cursor: pointer;
    /* border: 1px solid; */
    text-decoration: none;
    padding: 5px 20px;
    margin: 0;
}

/* REVIEW: Program Container Section */

.program-heading {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    line-height: 38.66px;
    margin-top: 50px;
    padding-bottom: 30px;
}

.program-card-styling {
    box-shadow: 0px 0px 2px 0.1px rgb(187, 182, 182);
    padding: 15px;
    /* border: 1px solid; */
    width: 25%;
    height: auto;
    display: inline-block;
    margin: 0 20px;
}

.program-box-hr {
    width: 120px;
    margin: 16px auto;
    padding: 0.7px;
    background-color: rgba(209, 202, 202, 0.144);
    box-shadow: 0px 1px 1px 0px rgba(224, 221, 221, 0.658);
}

/* media query for programs */

@media screen and (max-width: 1000px) {
    .our-program-link-container {
        flex-direction: column;
    }
}

/* Counsellers section */

.counsellers-container {
    border: 1px solid;
    width: 100%;
    margin: 0 auto;
}

.counsellers_in_kanpur, .counsellers_in_allahabad, .counsellers_in_delhi, .counsellers_in_lukhnow, .counsellers_in_lakhimpur, .counsellers_in_gorakhpur {
    text-align: center;
}

.counseller-city-list {
    /* box-shadow: 0px 0px 3px 0.5px rgb(236, 245, 247); */
    background-color: rgb(255, 255, 255);
    width: auto;
    margin: 0 auto;
    display: inline-block;
    font-weight: 600;
    padding: 0 25px;
    cursor: pointer;
    margin-left: 5px;
}

.counseller-city-list:hover {
    border: 1px solid rgba(48, 47, 47, 0.295);
    box-shadow: 0px 0px 3.7px 1.5px rgba(221, 224, 224, 0.623);
}

.counseller-city-list:active {
    /* background-color: rgb(255, 255, 255); */
    border: 1px solid rgba(43, 43, 43, 0.438);
}

.select-city {
    font-size: 15px;
    color: gray;
}

.checked {
    color: orange;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 295px;
    margin: 20px 1%;
    /* margin: auto; */
    text-align: center;
    font-family: arial;
    display: inline-block;
}

.card img {
    border-radius: 50%;
    width: 100px;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.title {
    color: grey;
    font-size: 18px;
}

.card .button {
    position: relative;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: #007298;
}

.card button:hover, .card a:hover {
    opacity: 0.7;
}

/* Testimonial section */

.testimonial-container h2 {
    margin-bottom: 50px;
}

.testimonial-container {
    padding-bottom: 50px;
}

.testimonial-box {
    /* border: 2px solid #ccc; */
    /* background-color: #eee; */
    border: 2px solid rgb(233, 231, 231);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}

.testimonial-box::after {
    content: "";
    clear: both;
    display: table;
}

.testimonial-box img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.testimonial-box span {
    font-size: 20px;
    margin-right: 15px;
}

.testimonial-container {
    width: 91%;
    margin: 0 auto;
}

@media (max-width: 500px) {
    .testimonial-box {
        text-align: center;
    }
    .testimonial-box img {
        margin: auto;
        float: none;
        display: block;
    }
}